<app-header></app-header>

<h1 class="titres">Produit</h1>
<hr class="ligne">

<div class="page-produit">
    <div class="image-produit">
    <img src="assets/sixth-product.png" alt="Une photo du produit vendu">
    </div>

    <div class="infos-produit">
        <h2>Nom du produit :</h2>
        <p>
            Figurine d'Astérix - PAF!
        </p>

        <h2>Description :</h2>
        <p>
            Une présentation détaillée du produit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim.
        </p>
        <h2>Prix :</h2>
        <p>
            39,99 €
        </p>
        <button>
            Ajouter au panier
        </button>
    </div>
</div>

<app-footer></app-footer>