<footer>
    <div class="adresse-entreprise">
        <h2>Au Petit Village</h2>
        <address>
        Adresse de l'entreprise<br>
        Code postal de l'entreprise, France<br>
        Adresse mail de l'entreprise<br>
        Numéro de téléphone de l'entreprise
        </address>
    </div>
    <div class="liens-footer">
    <h2>Liens utiles</h2>
        <p>
            <a routerLink="/">Page d'accueil</a><br>
            <a routerLink="/about">À propos</a><br>
            <a routerLink="/contact">Nous contacter</a><br>
            <a routerLink="/mentions">Mentions légales</a>
        </p>
    </div>
    <div class="produits-footer">
        <h2>Nos meilleurs produits</h2>
            <p>
                <a routerLink="/second-product">Figurine d'Astérix et Idéfix - Pile d'albums</a><br>
                <a routerLink="/product">Figurine d'Obélix - Pile d'albums</a><br>
                <a routerLink="/eighth-product">Figurine d'Idéfix - Cœur</a>
            </p>
        </div>
    <div class="reseaux-sociaux">
        <h2>Retrouvez-nous sur les réseaux sociaux !</h2>
        <div class="liens-reseaux">
            <a href="https://twitter.com/aupetitvillage" target="_blank"><img src="assets/twitter-x.png" alt="Logo de Twitter (X)"></a>
            <a href="https://www.facebook.com/people/Au-Petit-Village/" target="_blank"><img src="assets/facebook.png" alt="Logo de Facebook"></a>
            <a href="https://www.instagram.com/aupetitvillage/" target="_blank"><img src="assets/instagram.png" alt="Logo d'Instagram"></a>
        </div>
    </div>
</footer>