.a-propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    text-align: left;
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
