<app-header></app-header>

<h1 class="titres">À propos</h1>
<p class="sous-titres">L'histoire de l'entreprise Au Petit Village.</p>
<hr class="ligne">

<section class="a-propos">
    <p>
        Une présentation de l'entreprise. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Neque egestas congue quisque egestas. Ac turpis egestas sed tempus 
        urna et pharetra pharetra. Pharetra pharetra massa massa ultricies mi quis hendrerit. Facilisi nullam vehicula 
        ipsum a arcu cursus. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Pretium lectus quam id leo in. 
        Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Et malesuada fames ac turpis egestas sed tempus. 
        Pharetra vel turpis nunc eget lorem. Diam quam nulla porttitor massa id neque. Sit amet facilisis magna etiam tempor 
        orci eu. Cursus vitae congue mauris rhoncus. Neque laoreet suspendisse interdum consectetur libero. Pulvinar etiam 
        non quam lacus suspendisse faucibus interdum posuere lorem. Sagittis eu volutpat odio facilisis mauris sit amet 
        massa.
    </p>
</section>

<app-footer></app-footer>