<app-header></app-header>

<h1 class="titres">Nous contacter</h1>
<hr class="ligne">

<div id="page-contact">
    <div id="nous-contacter">
        <div id="contact">
            <div id="formulaire">
                <h2>Formulaire de contact</h2>
                <div>
                    <input type="text" placeholder="Nom">
                </div>
                <div>
                    <input type="email" placeholder="Adresse mail">
                </div>
                <div>
                    <input type="tel" placeholder="Numéro de téléphone">
                </div>
                <div>
                    <input type="text" placeholder="Sujet">
                </div>
                <div>
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <button type="submit">Envoyer</button>
            </div>
            <div id="coordonnees">
                <h2>Nos coordonnées</h2>
                <h3>Au Petit Village</h3>
                <address>
                    Adresse de l'entreprise<br>
                    Code postal de l'entreprise, France<br>
                    Adresse mail de l'entreprise<br>
                    Numéro de téléphone de l'entreprise
                </address>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>