<app-header></app-header>

<h1 class="titres">Mentions légales</h1>
<hr class="ligne">

<section class="mentions-legales">
    <p>
        Les mentions légales. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Enim tortor at auctor urna nunc id. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. 
        Aliquet risus feugiat in ante metus dictum at. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. 
        Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Natoque penatibus et magnis dis parturient 
        montes nascetur ridiculus mus. Odio pellentesque diam volutpat commodo. Tortor pretium viverra suspendisse potenti 
        nullam ac tortor vitae. Aliquet nec ullamcorper sit amet risus nullam. Amet nisl purus in mollis nunc sed. Feugiat sed 
        lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Volutpat diam ut venenatis tellus. Sed euismod nisi 
        porta lorem.
    </p>
    <p>
        Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Libero justo laoreet sit amet. Auctor elit 
        sed vulputate mi sit. Mi proin sed libero enim sed. Interdum posuere lorem ipsum dolor sit amet consectetur. Amet 
        nisl purus in mollis nunc sed. Ullamcorper sit amet risus nullam. Erat pellentesque adipiscing commodo elit at imperdiet 
        dui. Sem viverra aliquet eget sit amet. Pellentesque adipiscing commodo elit at imperdiet dui. Turpis egestas sed tempus 
        urna et pharetra. Sed vulputate mi sit amet. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Amet 
        dictum sit amet justo donec enim diam vulputate ut. Tincidunt ornare massa eget egestas. Nunc congue nisi vitae suscipit 
        tellus mauris a. Aliquam sem et tortor consequat id porta. Non odio euismod lacinia at quis risus. Pharetra magna ac 
        placerat vestibulum lectus mauris ultrices.
    </p>
</section>

<app-footer></app-footer>